.container-1{
    border:2px solid black;
    width: 75%;
    text-align: center;
    margin: 0 auto ;
}
#flex-box-cont1{
    display:flex;
    flex-wrap: wrap;
    border:2px solid black;
    justify-content: space-around;
    padding: 10px;
}
#flex-box-cont1 img:hover{
    box-shadow: 0px 10px 50px rgba(37, 5,233, 1)
}
#flex-box-cont1 img{
    margin: 10px;
   
}

    
 #flex-box-cont1   button {
  
  /*  line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    */
    display: flex;
    position: relative;

    flex-direction: column;
    background: rgb(81, 255, 0);
    border: none;
    height: 50px;
    width: 70px;
    border-radius: 5rem;
    vertical-align: center;
    align-items:center;


  }
  #flex-box-cont1  button:hover {
    background: rgb(132, 78, 184);
  }
  